.x-btn .icon-geoexplorer {
    background-image: url(img/geoexplorer.png);
}

.olControlAttribution {
    bottom: 5px;
    right: 5px;
}

.x-action-col, .gxp-icon-addfeature {
    background-image: url(img/silk/pencil_add.png);
    width: 16px;
    height: 16px;
}
