.x-btn .icon-geoexplorer {
    background-image: url(img/geoexplorer.png);
}

.olControlAttribution {
    bottom: 5px;
    right: 5px;
}

.x-action-col, .gxp-icon-addfeature {
    background-image: url(img/silk/pencil_add.png);
    width: 16px;
    height: 16px;
}

.x-action-col, .gxp-icon-modifyfeature {
    background-image: url(img/silk/pencil.png);
    width: 16px;
    height: 16px;
}

.x-action-col, .gxp-icon-rectifier {
    background-image: url(img/silk/bullet_picture.png);
    width: 16px;
    height: 16px;
}

.x-btn .gxp-icon-deletefeature, .x-menu-item .gxp-icon-deletefeature {
    background-image: url(img/silk/pencil_delete.png);
}

.x-btn .gxp-icon-save, .x-menu-item .gxp-icon-save {
    background-image: url(img/silk/disk.png);
}
