$base-color: #555;
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
// Your custom code goes here...
@include sencha-button-ui('user', #720000, 'glossy');
.featurepopup > .x-inner > .x-html {
    padding: 0.3em !important;
}
span.follow {
    position: absolute;
    font-size: 1.2em;
    top: 0.3em;
    right: 0.6em;
}
div.fp-title {
    width: 15em;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}
div.fp-container {
    display: table;
}
div.fp-type, div.fp-date {
    display: table-cell;
    color: #999;
    font-size: 1em;
}
div.fp-type {
    width: 20em;
}
div.fp-date {
    padding-left: 1em;
}
.featurepopup > .x-inner {
    background-color: #424242 !important;
}
.logoff > .x-inner {
    background-color: black !important;
}
.x-container .maxfeatures {
    margin-left: 0.6em;
}
.x-toolbar-maxfeatures {
    background-color: #fff5c3;
    color: #625414;
}
.x-form-fieldset-inner {
    margin-left: 0.3em;
}
.x-form-fieldset {
    margin-bottom: 0.3em;
}
.x-form-fieldset-title {
    margin-top: 0.3em;
}
.userbutton {
    top: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
div.arrow {
    margin-top: -0.2em;
    margin-left: 0.5em;
    float: right;
    width: 26px;
    height: 26px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAGXRFWHRT
b2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG
1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlv
biByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb2
0veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMjgwMTE3NDA3MjA2ODExOEMxNDgzQjJBNDBCQjc2QyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGNjQ0NDRGQTE0NzMxMUUyQUE4RkNCN0Q5NjI2N0EzOSIgeG1wTU06SW5zdGFu
Y2VJRD0ieG1wLmlpZDpGNjQ0NDRGOTE0NzMxMUUyQUE4RkNCN0Q5NjI2N0EzOSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDI4MDExNz
QwNzIwNjgxMThDMTQ4M0IyQTQwQkI3NkMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDI4MDExNzQwNzIwNjgxMThDMTQ4M0IyQTQwQkI3NkMiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz55
EblIAAAAHlBMVEXd3d3v7+/m5ubr6+vk5OT9/f3x8fHo6Oj6+vr///9LjNcRAAAACnRSTlP///////////8AsswszwAAAFJJREFUeNpi4MQJGIatFAcLAxbADtbFikWOGWogphwzwi4mVBlGZGcwYcrAXciEIYNwPBO6DJK/mNBkkL3MjiqDEhrMDAxsuAKKmW1oRSVAgA
EAaYoTWov0XO8AAAAASUVORK5CYII=');
}
.user-container {
    color: white;
}
.title-container {
    margin-left: 1em;
    color: white;
    font-size: 1.3em;
}
.header-container {
    margin-left: 1em;
    color: #e4e4e4;
    font-size: 1em;
}
.x-msgbox.security-popup {
    min-width: 15em;
    max-width: 50em;
}
.security-popup .x-msgbox-text {
    text-align: left;
}
.security-popup .x-title {
    width: 50em;
}
.x-form-fieldset-title {
    color: #555;
    font-size: 1em;
    font-weight: normal;
}
.x-form-fieldset-instructions {
    margin: 0em 0.5em 0.3em;
    text-align: left;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}
.addnote {
    background-color: white;
}
.addnotebutton {
    margin-right: 0.25em;
    margin-top: 0.25em;
}
html, body {
    height: 100%;
    background-color: $base-color;
}
#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}
#appLoadingIndicator > * {
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}
@-webkit-keyframes appLoadingIndicator{
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}
@include pictos-iconmask('search');
div.drawingDetails {
    display: table;
}
div.detailRow {
    display: table-row;
}
div.detailHeader {
    padding: 0.75em;
    width: 9em;
    color: #BBB;
    display: table-cell;
}
div.detailContent {
    padding: 0.75em;
    display: table-cell;
    text-align: right;
}
div.notesNote {
    font-size: 1em;
    padding: 0.1em;
}
div.notesAuthor {
    font-size: 0.7em;
    color: #BBB;
    text-align: right;
}
div.olMapViewport {
    background-color: #BBBBBB
}
div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 52px;
    width: 52px;
    line-height: 48px;
    text-shadow: 0 0 3px rgba($base-color,0.8);
    background: rgba($base-color, 0.5);
    filter: alpha(opacity=80);
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoom a:hover {
    background: rgba($base-color, 0.7);
    filter: alpha(opacity=100);
}
div.olControlAttribution {
    border-top: 2px solid rgba($base-color,0.65);
    border-left: 2px solid rgba($base-color,0.65);
    border-top-left-radius: 10px;
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 10px;
    padding: 3px 5px;
    background-color: rgba($base-color,0.35);
    color: black;
    text-shadow: 0 0 2px #fff;
}
div.olControlAttribution a {
    color: navy
}
