$base-color: #555;
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
// Your custom code goes here...
@include sencha-button-ui('user', #720000, 'glossy');
@include sencha-button-ui('filter',  #b5b5b5, 'glossy');
@include sencha-button-ui('drawing', #505050, 'glossy');
.notes-list .x-list-header {
    padding: 0 0 0 0;
    border: none;
    background-image: none;
}
.note-group {
    padding: 0.5em 0.5em;
}
.featurepopup > .x-inner > .x-html {
    padding: 0.3em !important;
}
div.table-cell {
    display: table-cell;
}
.table-cell.col1 {
    width: 400em;
    border-right: 1px solid black;
    padding-right: 0.5em;
}
.table-cell.col2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 25%;
}
.table-cell.col3 {
    width: 7%;
    padding-left: 0.5em;
    border-left: 1px solid black;
}
span.follow {
    position: absolute;
    font-size: 1.2em;
    top: 0.3em;
    right: 0.6em;
}
div.fp-title {
    width: 15em;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}
div.fp-container {
    display: table;
}
div.fp-type, div.fp-date {
    display: table-cell;
    color: #999;
    font-size: 1em;
}
div.fp-type {
    width: 20em;
}
div.fp-date {
    padding-left: 1em;
}
.featurepopup > .x-inner {
    background-color: #424242 !important;
}
.logoff > .x-inner {
    background-color: black !important;
}
.x-container .maxfeatures {
    margin-left: 0.6em;
}
.x-toolbar-maxfeatures {
    background-color: #fff5c3;
    color: #625414;
}
.x-form-fieldset-inner {
    margin-left: 0.3em;
}
.x-form-fieldset {
    margin-bottom: 0.3em;
}
.title-container {
    margin-left: 1em;
    color: white;
    font-size: 1.3em;
}
.header-container {
    margin-left: 1em;
    color: #e4e4e4;
    font-size: 1em;
}
.x-msgbox.security-popup {
    min-width: 15em;
    max-width: 50em;
}
.security-popup .x-msgbox-text {
    text-align: left;
}
.security-popup .x-title {
    width: 50em;
}
.x-form-fieldset-title {
    margin-top: 0.3em;
    color: white;
    font-size: 1em;
    font-weight: normal;
}
.addnote {
    background-color: white;
}
.addnotebutton {
    margin-right: 0.25em;
    margin-top: 0.25em;
}
html, body {
    height: 100%;
    background-color: $base-color;
}
#appLoadingIndicator {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 100%;
    height: 30px;
    -webkit-animation-name: appLoadingIndicator;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
}
#appLoadingIndicator > * {
    background-color: #FFFFFF;
    display: inline-block;
    height: 30px;
    -webkit-border-radius: 15px;
    margin: 0 5px;
    width: 30px;
    opacity: 0.8;
}
@-webkit-keyframes appLoadingIndicator{
    0% {
        opacity: 0.8
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0.8
    }
}
@include pictos-iconmask('search');
div.drawingDetails {
    display: table;
}
div.detailRow {
    display: table-row;
}
div.detailHeader {
    padding: 0.75em;
    width: 9em;
    color: #BBB;
    display: table-cell;
}
div.detailContent {
    padding: 0.75em;
    display: table-cell;
    text-align: right;
}
div.notesNote {
    font-size: 1em;
    padding: 0.1em;
}
div.notesAuthor {
    font-size: 0.7em;
    color: #BBB;
    text-align: right;
}
div.olMapViewport {
    background-color: #BBBBBB
}
div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 52px;
    width: 52px;
    line-height: 48px;
    text-shadow: 0 0 3px rgba($base-color,0.8);
    background: rgba($base-color, 0.5);
    filter: alpha(opacity=80);
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoom a:hover {
    background: rgba($base-color, 0.7);
    filter: alpha(opacity=100);
}
div.olControlAttribution {
    border-top: 2px solid rgba($base-color,0.65);
    border-left: 2px solid rgba($base-color,0.65);
    border-top-left-radius: 10px;
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 10px;
    padding: 3px 5px;
    background-color: rgba($base-color,0.35);
    color: black;
    text-shadow: 0 0 2px #fff;
}
div.olControlAttribution a {
    color: navy
}
